- if defined?(comments) and comments.first
  #comentario_destacado data-commentable_id="#{comment.commentable.to_param}" data-commentable_type="#{comment.commentable_type.downcase.pluralize}"
    = render comments.first
