h1 = post.title
.pull-right
  = link_to "", edit_admin_post_path(post), class: "btn btn-default glyphicon glyphicon-edit"
= post.author
= post.status
.show_post_body = post.body
- comments.each do |comment|
  = render "comments/comment", comment: comment
