| (function(){
    var $node = $("<span />", {class: "text-success little-horizontal-margin updated-notice", text: "Actualizado"}).hide();
    setTimeout(function(){
      $node.fadeOut(function(){
        $node.remove();
      });
    }, 3000);
    $("#preference_#{params[:preference][:name]}").html($node);
    $node.fadeIn();
  })();
