body
  background-color: black
  position: relative
  .copyright
    color: white
    text-align: center
    font-size: 10px
    padding: 1em 0
    font-weight: 300
  #main-wrapper
    position: absolute
    top: 0
    width: 100%
    text-align: center
    z-index: -10
    #main
      max-width: 800px
      padding-left: 3px
      padding-right: 3px
      padding-bottom: 15px
      background-image: url("/images/BG.png")
      margin: auto
      background-size: cover
      #main_navbar
        margin: 0.5em 0
        font-size: 1.4em
        text-transform: uppercase
        background-color: black
        .navbar-item
          padding: 0.6em 0.2em
          display: inline-block
          color: white
        a
          color: rgb(152, 100, 60)
          display: block
          &:hover
            color: white
            text-decoration: none
