body
  background-color: black
  position: relative
  .copyright
    color: white
    text-align: center
    font-size: 10px
    padding: 1em 0
    font-weight: 300
  #main-wrapper
    position: absolute
    top: 0
    width: 100%
    text-align: center
    z-index: -10
    #main
      max-width: 800px
      padding-left: 3px
      padding-right: 3px
      padding-bottom: 5em
      background-image: url("/images/BG.jpg")
      margin: auto
      background-size: contain
      #main_navbar_wrapper
        position: fixed
        bottom: 0
        width: 100%
        left: 0
        z-index: 10
      #main_navbar
        margin: 0 auto
        max-width: 800px
        font-size: 1.4em
        text-transform: uppercase
        background-color: black
        .navbar-item
          padding: 0.6em 0.2em
          display: inline-block
          color: white
        a
          color: rgb(152, 100, 60)
          display: block
          &:hover
            color: white
            text-decoration: none
          &.active
            color: white

body.mobile
  z-index: 0
  #main-wrapper
    position: relative !important
  #main
    padding-top: 5px !important

.fb-like-samsa
  margin-top: 1em
  max-width: 100%
  overflow: scroll
  padding-top: 1em !important

@media (max-width: 700px)
  #main_navbar
    font-size: 1.2em !important
