.comment
  background-image: url("/images/bg_comment.png")
  background-size: 100%
  color: white
  margin: 0.1em 1em
  padding: 0.5em
  .col-xs-11, .col-xs-9
    text-align: left
  .comment_user_name
    font-weight: 600
  textarea
    background-color: transparent
    color: white
    border: 0
    padding: 0
    &:focus
      box-shadow: none
