.comment .comment_header
  & > div
    display: inline-block
  .user_name
    font-weight: 600
  .date
    margin-left: 10px
    font-weight: 300
    font-size: 89%
    cursor: pointer

.vote_buttons
  text-align: right
  .comment-vote
    margin-left: 1em
  .vote-up, .vote-down
    display: none
