.new-comment-form
  display: none
  width: 100%
  text-align: center
  background-color: rgb(28,21,12)
  color: rgb(121,117,113)
  padding: 1em 0
  border-top: 1px solid rgb(123,118,112)
  border-bottom: 1px solid rgb(123,118,112)
  abbr
    display: none
  form
    text-align: left
    max-width: 800px
    display: block
    margin: auto
    position: relative
    textarea
      background-color: white
      border-radius: 0
      height: 120px
      &:focus
        box-shadow: none
        border: 1px solid #ccc
    .submit-btn
      position: absolute
      right: -4px
      bottom: -2px
      background-color: transparent
      border: 0
      img
        max-width: 33px
        max-height: 33px

#comentario_destacado
  margin: 1em 0
  .comment
    padding: 1em 0.5em
    .col-xs-9
      font-size: 1.1em

.comment
  background-image: url("/images/bg_comment.png")
  background-size: 100%
  color: white
  margin: 0.1em 1em
  padding: 0.5em
  .col-xs-9
    text-align: left
  .comment_header a
    color: white
  .action-buttons a
    color: white
    &:hover
      color: white

.post_comments
  margin-top: 1em

@media (max-width: 700px)
  .comment
    margin: 0.1em 0.2em
    .comment-avatar
      padding: 0
      img
        max-width: 35px
        max-height: 35px
    .comment-vote
      margin-top: 5px
