#comentario_destacado
  .comment
    padding: 1em 0.5em
    .col-xs-9
      font-size: 1.1em

.comment
  background-image: url("/images/bg_comment.png")
  background-size: 100%
  color: white
  margin: 0.1em 1em
  padding: 0.5em
  .col-xs-9
    text-align: left
  .comment_header a
    color: white
  textarea
    background-color: transparent
    color: white
    border: 0
    padding: 0
    &:focus
      box-shadow: none
  .action-buttons a
    color: white
    &:hover
      color: white
