#session-status
  background-color: black
  text-align: right
  color: white
  max-width: 800px
  margin: 0 auto 0.5em auto
  padding: 5px
  img
    max-height: 30px
    max-width: 30px
  span
    margin-left: 5px
